{
  "extends": ["airbnb-base"],
  "rules": {
    "max-len": ["error", 120],
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "prefer-destructuring": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off"
  },
  "env": {
    "es6": true
  }
}
